.Admin_container_contact_table {
    background: rgb(138, 171, 255);
    background: radial-gradient(
        circle,
        rgba(138, 171, 255, 1) 0%,
        rgba(54, 73, 96, 1) 100%
    );
    height: 100vh;
    padding: 20px 0;
    padding-bottom: 100px;
    overflow: auto;
}

.Admin_container_contact_table h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.main_admin_content_contact_table table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 5px;
}

.main_admin_content_contact_table tr:hover {
    background-color: #455A64;
}

.main_admin_content_contact_table th {
    background-color: #607d8b;
    color: white;
}

.main_admin_content_contact_table th,
.main_admin_content_contact_table td {
    color: white;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.main_admin_content_contact_table select.Contact_us_Action option {
    font-weight: bold;
}

.main_admin_content_contact_table select.Contact_us_Action {
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main_admin_content_contact_table select.Contact_us_Action:hover {
    background-color: #607d8b;
}
.Contact_us_Action{
    width: 100%;
    text-align: center;
}
.table_switch_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.switch_buttons{
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin: 10px;  

}
.switch_buttons::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height:80px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.9s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch_buttons:hover::before {
    scale: 3;
  }
  
  .switch_buttons:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .switch_buttons:active {
    scale: 1;
  }

@media only screen and (max-width: 800px) {
    .banner-content h2 {
        font-size: 40px;
    }
}
